/*

--------------------------------------
---- * Smartphones, ----------------- |
---- * Portrait iPhone, ------------- |
---- * Portrait 480 x 320 phones ---- | 
--------------------------------------

*/

$xs: (
    min-width: 320px,
);

/*

---------------------------
---- Smartphones, -------- |
---- Android phones, ----- |
---- Landscape iPhone ---- |
---------------------------

*/

$cel: (
    min-widht: 480px,
);

/*

------------------------------
---- Portrait tablets, ------ |
---- Portrait iPad, --------- |
---- E-readers, ------------- |
---- Landscape 800 x 400 ---- |
------------------------------

*/

$md: (
    min-width: 600px,
);

/*

--------------------------
---- Tablet, ------------ |
---- Landscape iPad, ---- |
---- Lo-res laptop ------ |
---- Lo-res desktop ----- |
--------------------------

*/

$tablet: (
    min-width: 801px,
);

/*

---------------------------------
---- Big landscape tablets, ---- |
---- Laptops, ------------------ |
---- Desktops ------------------ |
---------------------------------

*/

$notebok: (
    min-width: 1025px,
);

/*

-------------------------
---- Hi-res laptops ---- |
---- Desktops ---------- |
-------------------------

*/

$desktop: (
    min-width: 1281px,
);

/*

-------------------------
---- Bigger Screens ---- |
-------------------------

*/

$xl: (
    min-width: 1920px,
);

/*

----------------------
---- Televisions ---- |
----------------------

*/

$tv: (
    min-width: 1536px,
);
